{{page-title "Home"}}

<body>
    <div class="home-container-main">
        <img class="home-image" src="/images/home-restaurant.jpg" alt="Restaurant floor">
        <div class="home-container-sub">
            <h1 class="poppins-extrabold header">Someone cooked here.</h1>
            <p class="poppins-regular text">Welcome to Amore.<br>
                Where we love food as much as we love you!<br>
                Join us for a feast full of fun, fat and flavour.</p>

            <p class="poppins-light contact">Visit us!</p>
        </div>
    </div>
</body>

{{outlet}}